<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Notes - Add a Note</title>
    </head>
    <body>
        <form method="post">
            <label for="noteHeading">Heading</label>
            <input type="text" name="noteHeading" />
            <label for="noteBody">Body</label>
            <input type="text" name="noteBody" id="noteBody" />
            <label for="user_id">Your ID</label>
            <input type="number" name="user_id" id="userId" />
            <button type="submit">Create</button>
        </form>
    </body>
</html>
