<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SSO Test Server</title>
        <h1>Hello, <%= user.email %></h1>
        <h1>Your email is : <%= user.firstname %></h1>
    </head>
    <body>
        <h1>Welcome to the Test server!</h1>
        <p><a href="/notes">Click here</a> to manage and view your notes</p>
    </body>
</html>
