<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSO Test Server</title>
    <h1>Hello, <%= user.email %></h1>
    <h1>Hello, <%= user.firstname %></h1>
</head>
<body>
    <h1>Welcome to the Test server!</h1>
</body>
</html>