<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/login.css" />

        <title>SSO Login</title>
    </head>
    <body>
        <div class="error">
            <h1>Oops! It seems like you are not logged in :(</h1>
            <a href="http://localhost:3000/user/login?serviceURL=http://localhost:5000" id="loginBtn">Login with SSO!</a>
            <p>Don't have an account? <a href="#">Sign Up!</a></p>
        </div>
    </body>
</html>
