<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/main.css" />

        <title>Test Server - Notes</title>
    </head>
    <body>
        <div class="heading">
            <a href="/notes/add" class="btn" id="createBtn">Create New Note</a>
        </div>
        <div class="notes">
            <% notes.forEach(function(note) { %>
            <div class="note">
                <div class="note-heading">
                    <h5><%= note.noteHeading %></h5>
                    <form action="/notes/delete/<%=note._id%>" method="post">
                        <button type="submit" class="delBtn">Delete Note</button>
                    </form>
                </div>
                <div class="note-body">
                    <p><%= note.noteBody %></p>
                </div>
            </div>
            <% }); %>
        </div>
    </body>
</html>
