* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;  
    font-weight: 400;
}

.navBar {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    color: white;
}
.navTitle {
    padding-left: 20px;;
}

.rootContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;;
    height: calc(100% - 100px) ;
    top: 60px;
}
.pageTitle {
    font-weight: 900;
    font-size: 40px;
    letter-spacing: 1px;
}
.miniLine {
    width: 40px;
    height: 6px; 
    border-radius: 3px;
    margin: 10px 0px;
    background-color: rgba(235, 28, 8, 0.885);
}

.greeting {
    font-weight: 300;
    margin: 20px 0px;
}
.email {
    font-size: 25px;  
}
.welcome { 
    margin: 20px 0px;
    font-size: 25px;
}
p {
    font-size: 15px;
    font-weight: 300;
}

.logoutBtn {
    font-size: 16px;;
    letter-spacing: 0px;;
    margin: 40px 0px;
    border: 2px solid rgba(235, 28, 8, 0.885);
    color: rgba(235, 28, 8, 0.885);
    cursor: pointer;
    line-height: 40px;
    height: 40px;;
    text-align: center;
    width: 140px;
    transition: 0.2s ease-out;;
}
.logoutBtn:hover {
    background-color: rgba(235, 28, 8, 0.885);;
    color: white;
}