@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

body {
    background-color: rgb(231, 231, 231);
}

.error {
    margin-top: 2rem;
    text-align: center;
}

.error h1 {
    margin-bottom: 1rem;
}

#loginBtn {
    text-decoration: none;
    padding: 0.25rem 1.5rem;
    border-radius: 10px;
    background: #054a91;
    color: white;
    font-size: 1.5rem;
    transition: background 200ms;
}

#loginBtn:hover {
    background: #053c72;
}

.error p {
    margin-top: 1rem;
    font-size: 20px;
    font-weight: 600;
}
