@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

body {
    background-color: rgb(231, 231, 231);
}

.heading {
    display: flex;
    justify-content: center;
}

#createBtn {
    margin-top: 1rem;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    border-radius: 20px;
    color: white;
    font-size: 2rem;
    background: #054a91;
    transition: background 100ms ease-in-out;
}

#createBtn:hover {
    background: #032f5c;
}

.notes {
    margin-left: 25vw;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.note {
    margin: 10px 0;
    padding: 0.2rem 1rem 1rem 1rem;
    border-radius: 10px;
    background-color: rgb(45, 49, 66);
    color: white;
    position: relative;
}

.note-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0.5rem 0;
    font-size: 30px;
    border-bottom: 1px solid white;
}

.note-body {
    margin-top: 0.5rem;
    font-size: 15px;
    line-height: 1.5rem;
}

.note .delBtn {
    border-radius: 10px;
    border: none;
    padding: 0.2rem 1rem;
    font-size: 20px;
    background: #d62839;
    color: white;
    transition: background 100ms ease-in;
}

.note .delBtn:hover {
    background: #6d1821;
    cursor: pointer;
}

@media (max-width: 1250px) {
    .notes {
        width: 60vw;
        margin-left: 20vw;
    }
}

@media (max-width: 950px) {
    .notes {
        width: 70vw;
        margin-left: 15vw;
    }
}

@media (max-width: 700px) {
    .notes {
        width: 80vw;
        margin-left: 10vw;
    }

    .note .delBtn {
        font-size: 15px;
    }

    .note-heading {
        font-size: 30px;
    }
}
